# Everything else
*

# Only required dotfiles
!hypr/
!rofi/
!fastfetch/
!kitty/
!nvim/
!waybar/

# Folders inside
!hypr/**
!rofi/**
!fastfetch/**
!kitty/**
!nvim/**
!waybar/**

!.gitignore
!README.md
