# Everything else
*

# Only required dotfiles
!fastfetch/
!hypr/
!kitty/
!nvim/
!rofi/**
!waybar/
!btop/

# Folders inside
!fastfetch/**
!hypr/**
!kitty/**
!nvim/**
!rofi/**
!waybar/**
!btop/**

!.gitignore
!README.md
