/* ================================================= */
/* Waybar Minimal Red Theme                          */
/* ================================================= */

* {
    /* font-family: "SpaceMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: "Ubuntu Mono", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    transition: background-color 0.2s ease /*color 0.2s eas*/;
}

/* Main Waybar window */
window#waybar {
    background: transparent;
    border-radius: 999px;
    margin: 10px;
    color: #f2eaea;
}

/* Containers */
.modules-left,
.modules-center,
.modules-right {
    background: none;
    background-color: rgba(0,0,0,0.25);
    margin: 5px 10px;
    padding: 2px 8px;
    border-radius: 999px;
}

/* Shared module style */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd,
#bluetooth {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 4px 10px;
    border-radius: 999px;
    background: transparent;
    color: #f2eaea;
}

/* Hover (sutil, vermelho escuro) */
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover,
#bluetooth:hover {
    background: #1f0b0e;
}

/* Workspaces */
#workspaces button {
    color: #eee;
    background: transparent;
    font-weight: 700;
    font-size: 1px;
    border-radius: 999px;
    /* padding: 2px 5px; */
}

/* Workspace ativo */
#workspaces button.active {
    background: #7A3A3E;
    padding: 0 20px;
    color: #FFFFFF;
}

/* Hover workspace */
#workspaces button:hover {
    background: transparent;
}

/* Arch logo */
#custom-arch {
    padding: 0 10px;
    font-size: 20px;
    color: #ff4d5a;
}

#custom-arch:hover {
    color: #b11226;
}

/* System monitor */
#custom-sysmon {
    font-size: 20px;
    padding: 0 10px;
    color: #f2eaea;
}

#custom-sysmon:hover {
    background: #1f0b0e;
}

/* Power button */
#custom-power {
    padding: 0 12px;
    font-size: 20px;
    color: #b11226;
}

#custom-power:hover {
    background: #2a0f13;
    color: #ff4d5a;
}

